{% extends "data/main.html" %}
{% block content %}
{% include "data/status.html" %}
<div class="container-fluid">
    <h5>Data Order <b>{{ request.user|capfirst}}</b></h5>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>No</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Note</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>
                    {% for tampil_order_custumer in data_order_customer %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tampil_order_custumer.product }}</td>
                        <td>{{ tampil_order_custumer.product.category }}</td>
                        <td>{{ tampil_order_custumer.note}}</td>
                        <td>{{ tampil_order_custumer.date_created|date:"l, d N Y" }}</td>
                        <td>{{ tampil_order_custumer.status }}</td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Data Order Kosong</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}